 **1. Dataset description**

I have used the Emission  by countries dataset for this experiment. The dataset is consist the polution caused by different fuel source produced by a country in span of many years.

**2. Import libraries**

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats as stests

In [ ]:
import warnings
warnings.filterwarnings('ignore')

**3.Import dataset**

In [ ]:
data = '/content/drive/MyDrive/ADS/Emission.csv'

df = pd.read_csv(data)

In [ ]:
df.head()

,Unnamed: 0,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
1,3233,Australia,AUS,1991,279.528510,146.082840,88.245572,32.786243,3.183033,7.001201,2.229622,16.184767
2,3234,Australia,AUS,1992,284.525345,150.051381,87.916828,33.970472,2.923411,7.303701,2.359551,16.293502
3,3235,Australia,AUS,1993,288.870537,150.098575,90.386578,35.670002,3.004698,7.136743,2.573941,16.383765
4,3236,Australia,AUS,1994,293.696553,151.376241,91.924087,37.032005,3.484276,6.880148,2.999795,16.494706

**4. Performing hypothesis testing**

In [ ]:
total = df['Coal']
print (total)

0         141.879819
1         146.082840
2         150.051381
3         150.098575
4         151.376241
            ...
1614    14506.973805
1615    14746.830688
1616    14725.978025
1617    14174.564010
1618    14979.598083
Name: Coal, Length: 1619, dtype: float64

In [ ]:
total_mean = np.mean(total)
print(total_mean)

508.7121370555898

**5. Performing Z Test**

In [ ]:
ztest ,pval = stests.ztest(df['Coal'], value=1000)
print(float(pval))

2.6979236494040916e-27

In [ ]:
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis